* {
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: 'Karma', serif;
}

h3 {
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  margin: 10px 0;
}

h4 {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin: 10px 0;
}

h6 {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin: 10px 0;
}

p {
  font-size: 15px;
  line-height: 22.5px;
  text-align: center;
  margin: 15px 0;
}

b {
  font-weight: 700;
}

i {
  font-style: italic;
}

hr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #eee;
}

.container {
  width: 1200px;
  margin: 100px auto 0;
}

/* nav */

.nav-container {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 10000;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 1200px;
  padding: 16px 0;
}

.nav .menu {
  padding: 0 16px;
}

.nav img {
  height: 68px;
}

.nav h1,
.nav div {
  font-size: 24px;
  line-height: 36px;
}

/* main */

.main .card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 16px 8px;
}

.main .card .card-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  width: 25%;
}

.main .card .card-item img {
  width: 100%;
}

.main .card .card-item h3 {
  margin: 10px 0;
}

.main .card .card-item p {
  margin: 15px 0;
}

.main .page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
}

.main .page a {
  display: block;
  padding: 8px 16px;
  font-size: 15px;
  line-height: 22.5px;
  text-align: center;
}

.main .page a:hover {
  background-color: #000;
  color: #fff;
}

.main .page a.page-focus {
  background-color: #000;
  color: #fff;
}

.main .page a.page-focus:hover {
  background-color: #ccc;
  color: #000;
}

/* About */
.about {
  padding: 32px 16px;
}

.about img {
  display: block;
  margin: 0 auto;
}

.about-desc {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 32px 8px;
}

.footer > div {
  width: 33.3333%;
  padding: 0 8px;
}

.footer h3,
.footer p {
  text-align: left;
}

.footer .blog-spot li {
  padding: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer .blog-spot li:first-child {
  border-bottom: 1px solid rgb(221, 221, 221);
}

.footer .blog-spot .blog-desc {
  display: flex;
  flex-direction: column;
}

.footer .blog-spot .blog-desc span:first-child {
  font-size: 18px;
  line-height: 27px;
}

.footer .blog-spot .blog-desc span:last-child {
  font-size: 15px;
  line-height: 22.5px;
}

.footer .blog-spot img {
  display: block;
  width: 50px;
  height: 50px;
  margin-right: 16px;
}

.footer .popular-tag span {
  display: inline-block;
  padding: 0 8px;
  margin-bottom: 16px;
  background-color: #616161;
  color: #fff;
  font-family: serif;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}

.footer .popular-tag span.black {
  background-color: #000;
  font-size: 15px;
  line-height: 22.5px;
}
