@charset "utf-8";

/* font */
@font-face {
  font-family: 'HyundaiRegular';
  src: url('../fonts/HyundaiSansHead-Regular.woff2') format('woff2'),
    url('../fonts/HyundaiSansHead-Regular.woff') format('woff'),
    url('../fonts/HyundaiSansHead-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HyundaiMedium';
  src: url('../fonts/HyundaiSansHead-Medium.woff2') format('woff2'),
    url('../fonts/HyundaiSansHead-Medium.woff') format('woff'),
    url('../fonts/HyundaiSansHead-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HyundaiTextRegular';
  src: url('../fonts/HyundaiSansText-Regular.woff2') format('woff2'),
    url('../fonts/HyundaiSansText-Regular.woff') format('woff'),
    url('../fonts/HyundaiSansText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HyundaiLight';
  src: url('../fonts/HyundaiSansHead-Light.woff2') format('woff2'),
    url('../fonts/HyundaiSansHead-Light.woff') format('woff'),
    url('../fonts/HyundaiSansHead-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HyundaiBold';
  src: url('../fonts/HyundaiSansHead-Bold.woff2') format('woff2'),
    url('../fonts/HyundaiSansHead-Bold.woff') format('woff'),
    url('../fonts/HyundaiSansHead-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HyundaiKRTextRegular';
  src: url('../fonts/HyundaiSansTextKRRegular.woff2') format('woff2'),
    url('../fonts/HyundaiSansTextKRRegular.woff') format('woff'),
    url('../fonts/HyundaiSansTextKRRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HyundaiKRLight';
  src: url('../fonts/HyundaiSansHeadKRLight.woff2') format('woff2'),
    url('../fonts/HyundaiSansHeadKRLight.woff') format('woff'),
    url('../fonts/HyundaiSansHeadKRLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HyundaiKRRegular';
  src: url('../fonts/HyundaiSansHeadKRRegular.woff2') format('woff2'),
    url('../fonts/HyundaiSansHeadKRRegular.woff') format('woff'),
    url('../fonts/HyundaiSansHeadKRRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HyundaiKRMedium';
  src: url('../fonts/HyundaiSansHeadKRMedium.woff2') format('woff2'),
    url('../fonts/HyundaiSansHeadKRMedium.woff') format('woff'),
    url('../fonts/HyundaiSansHeadKRMedium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HyundaiKRBold';
  src: url('../fonts/HyundaiSansHeadKRBold.woff2') format('woff2'),
    url('../fonts/HyundaiSansHeadKRBold.woff') format('woff'),
    url('../fonts/HyundaiSansHeadKRBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
